doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='')
        title nisgs south-south conf
        link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/carousel/')
        // Bootstrap core CSS
        link(href='/css/assets/dist/css/bootstrap.min.css' rel='stylesheet')
        //
            <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
            />
        style.
            .hero {
            background-image: url(../public/images/hero.png); 
            height: 38rem;  
            margin: auto; 
            width: 100%;
            background-repeat: no-repeat; 
            background-size: contain; 
            background-position: center;
            }
            .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            }
            @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
            }
        // Custom styles for this template
        link(href='./css/carousel.css' rel='stylesheet')
    body
        header
            nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.py-0
                .container-fluid.py-0
                    div
                        img.px-0.mx-0(src='./images/logo_1_s.png' alt='' width='74px')
                        img.px-0.mx-0(src='./images/logo_2_s.png' alt='' width='61px')
                    a.navbar-brand(href='#')
                        span Nigerian Institution of Surveying and Geoinformatics Students
                        |  (NISGS)
        main
            .container-fluid.my-sm-0
                .row
                    .text-center.bg-white.hero
            //
                Marketing messaging and featurettes
                ==================================================
            // Wrap the rest of the page in another container to center all the content.
            .container.marketing
                // Three columns of text below the carousel
                .row
                    h2.text-center.my-lg-5.mb-5 Event Highlights
                    .col-lg-3.text-center
                        //
                            <svg
                            class="bd-placeholder-img rounded-circle"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                            role="img"
                            aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice"
                            focusable="false"
                            >
                        // <title>Placeholder</title>
                        // <img src="./images/caro3.jpeg" width="140" alt="">
                        // <rect width="100%" height="100%" fill=""></rect>
                        img.rounded.rounded-circle.mb-md-4.mb-3(src='./images/caro3.jpeg' alt='' width='140' height='140')
                        // <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        h2 Seminars and Lectures
                        p
                            | Engage with, and gain valuable insights from distinguished intellectuals and indutry professionals.
                    // /.col-lg-4
                    .col-lg-3.text-center
                        //
                            <svg
                            class="bd-placeholder-img rounded-circle"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                            role="img"
                            aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice"
                            focusable="false"
                            >
                        // <title>Placeholder</title>
                        // <img src="./images/caro3.jpeg" width="140" alt="">
                        // <rect width="100%" height="100%" fill=""></rect>
                        img.rounded.rounded-circle.mb-md-4.mb-3(src='./images/caro2.jpeg' alt='' width='140' height='140')
                        // <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        h2 Tour, Congress and Networking Events
                        p
                            | Network with other young surveyors, field professionals and academia as well as visit exiting landmarks
                            | in the land of promise.
                    // /.col-lg-4
                    .col-lg-3.text-center
                        //
                            <svg
                            class="bd-placeholder-img rounded-circle"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                            role="img"
                            aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice"
                            focusable="false"
                            >
                        // <title>Placeholder</title>
                        // <img src="./images/caro3.jpeg" width="140" alt="">
                        // <rect width="100%" height="100%" fill=""></rect>
                        img.rounded.rounded-circle.mb-md-4.mb-3(src='./images/caro1.jpeg' alt='' width='140' height='140')
                        // <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        h2 Technical and Practical Sessions
                        p
                            | Explore hands-on cutting-edge surveying techniques and technologies during our practical sessions
                    // /.col-lg-4
                    .col-lg-3.text-center
                        //
                            <svg
                            class="bd-placeholder-img rounded-circle"
                            width="140"
                            height="140"
                            xmlns="http://www.w3.org/2000/svg"
                            role="img"
                            aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice"
                            focusable="false"
                            >
                        // <title>Placeholder</title>
                        // <img src="./images/caro3.jpeg" width="140" alt="">
                        // <rect width="100%" height="100%" fill=""></rect>
                        img.rounded.rounded-circle.mb-md-4.mb-3(src='./images/dinner.jpeg' alt='' width='140' height='140')
                        // <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        h2 Dinner, Awards and Handover Night
                        p
                            | Enjoy a night of celebration and recognition at our dinner and awards session.
                    
                    // /.row
                    .row.text-center
                        p
                            a.btn.btn-lg.btn-success.px-5.py-3(href='/register') Register Now
                    // START THE FEATURETTES
                    hr.featurette-divider
                    //
                        <div class="row featurette">
                        <div class="col-md-7">
                        <h2 class="featurette-heading">
                        First featurette heading.
                        <span class="text-muted">It’ll blow your mind.</span>
                        </h2>
                        <p class="lead">
                        Some great placeholder content for the first featurette here.
                        Imagine some exciting prose here.
                        </p>
                        </div>
                        <div class="col-md-5">
                        <svg
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                        width="500"
                        height="500"
                        xmlns="http://www.w3.org/2000/svg"
                        role="img"
                        aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        >
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee"></rect>
                        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                        </svg>
                        </div>
                        </div>
                    .row.text-center
                        h2.text-center.mb-4 Write Us a Message
                        .mx-auto.w-75
                            .input-group.mb-3
                                // <span class="input-group-text" id="basic-addon1">@</span>
                                input.form-control(type='text' placeholder='Name' aria-label='Name' aria-describedby='basic-addon1')
                            .input-group.mb-3
                                input.form-control(type='email' placeholder='Email' aria-label='Email' aria-describedby='basic-addon2')
                            .input-group.mb-3
                                textarea.form-control(placeholder='Drop a message' aria-label='Comment')
                        div
                            p
                                a.btn.btn-lg.btn-secondary.px-4.py-2(href='#') Send Message
                    hr.featurette-divider
                    .row
                        h2.mb-4.text-center Contact Us
                        div
                            p Phone: 07062618977
                        div
                            p Email: nisgssouthsouth@gmail.com
                    hr.featurette-divider
            // /.container
            // FOOTER
            footer.container
                p.float-end
                    a(href='#') Back to top
                p
                    | © 2023 Nisgs. ·
                    a(href='#') Terms
        //
            <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
            ></script>
        script(src='./css/assets/dist/js/bootstrap.bundle.min.js')
